name: Build OpenWRT package (release)

on:
  push:
    tags:
      - 'v*'

# Minimize GITHUB_TOKEN permissions for security
# Individual jobs override as needed (e.g., create-release needs contents: write)
permissions: {}

jobs:
  build-packages:
    strategy:
      matrix:
        include:
          # 24.10
          - openwrt_version: '24.10'
            openwrt_build_version: '24.10.4'
            arch: 'x86_64'

          - openwrt_version: '24.10'
            openwrt_build_version: '24.10.4'
            arch: 'aarch64_cortex-a53'

          - openwrt_version: '24.10'
            openwrt_build_version: '24.10.4'
            arch: 'aarch64_cortex-a72'

          - openwrt_version: '24.10'
            openwrt_build_version: '24.10.4'
            arch: 'arm_cortex-a7_neon-vfpv4'

          - openwrt_version: '24.10'
            openwrt_build_version: '24.10.4'
            arch: 'arm_cortex-a9'

          - openwrt_version: '24.10'
            openwrt_build_version: '24.10.4'
            arch: 'mediatek-filogic'
            target: 'mediatek/filogic'
          - openwrt_version: '24.10'
            openwrt_build_version: '24.10.4'
            arch: 'bcm27xx-bcm2711'
            target: 'bcm27xx/bcm2711'

          - openwrt_version: '24.10'
            openwrt_build_version: '24.10.4'
            arch: 'mips_24kc'
          - openwrt_version: '24.10'
            openwrt_build_version: '24.10.4'
            arch: 'mipsel_24kc'
      fail-fast: false

    uses: Zerogiven/gh-openwrt-package-build-workflows/.github/workflows/reusable-build.yml@main
    with:
      package_name: 'quectel-rm520n-thermal'
      sdk_packages: 'quectel-rm520n-thermal'
      artifacts_patterns: |
        kmod-quectel-rm520n-thermal*.ipk
        quectel-rm520n-thermal*.ipk
        prometheus-node-exporter-ucode-*quectel-rm520n-thermal*.ipk
      openwrt_version: ${{ matrix.openwrt_version }}
      openwrt_build_version: ${{ matrix.openwrt_build_version }}
      arch: ${{ matrix.arch }}
      target: ${{ matrix.target }}
      verbose: false
      free_disk_space: true

  create-release:
    needs: build-packages
    permissions:
      contents: write
    uses: Zerogiven/gh-openwrt-package-build-workflows/.github/workflows/reusable-release.yml@main
    with:
      artifact_pattern: 'quectel-rm520n-thermal-*'
      release_file_pattern: '*.ipk'
      tag_name: ${{ github.ref_name }}
    secrets:
      RELEASE_TOKEN: ${{ secrets.OWRT_PACKAGE_RELEASE_TOKEN }}
