name: Build OpenWRT package (release)

on:
  push:
    tags:
      - 'v*'

# Minimize GITHUB_TOKEN permissions for security
# Individual jobs override as needed (e.g., create-release needs contents: write)
permissions: {}

jobs:
  build-packages:
    strategy:
      matrix:
        include:
          # 24.10
          - openwrt_version: '24.10'
            openwrt_build_version: '24.10.0'
            arch: 'x86_64'

          - openwrt_version: '24.10'
            openwrt_build_version: '24.10.1'
            arch: 'x86_64'

          - openwrt_version: '24.10'
            openwrt_build_version: '24.10.2'
            arch: 'x86_64'

          - openwrt_version: '24.10'
            openwrt_build_version: '24.10.3'
            arch: 'x86_64'

          - openwrt_version: '24.10'
            openwrt_build_version: '24.10.4'
            arch: 'x86_64'

          - openwrt_version: '24.10'
            openwrt_build_version: '24.10.5'
            arch: 'x86_64'

          - openwrt_version: '24.10'
            openwrt_build_version: '24.10.0'
            arch: 'aarch64_cortex-a53'

          - openwrt_version: '24.10'
            openwrt_build_version: '24.10.1'
            arch: 'aarch64_cortex-a53'

          - openwrt_version: '24.10'
            openwrt_build_version: '24.10.2'
            arch: 'aarch64_cortex-a53'

          - openwrt_version: '24.10'
            openwrt_build_version: '24.10.3'
            arch: 'aarch64_cortex-a53'

          - openwrt_version: '24.10'
            openwrt_build_version: '24.10.4'
            arch: 'aarch64_cortex-a53'

          - openwrt_version: '24.10'
            openwrt_build_version: '24.10.5'
            arch: 'aarch64_cortex-a53'

          - openwrt_version: '24.10'
            openwrt_build_version: '24.10.0'
            arch: 'aarch64_cortex-a72'

          - openwrt_version: '24.10'
            openwrt_build_version: '24.10.1'
            arch: 'aarch64_cortex-a72'

          - openwrt_version: '24.10'
            openwrt_build_version: '24.10.2'
            arch: 'aarch64_cortex-a72'

          - openwrt_version: '24.10'
            openwrt_build_version: '24.10.3'
            arch: 'aarch64_cortex-a72'

          - openwrt_version: '24.10'
            openwrt_build_version: '24.10.4'
            arch: 'aarch64_cortex-a72'

          - openwrt_version: '24.10'
            openwrt_build_version: '24.10.5'
            arch: 'aarch64_cortex-a72'

          - openwrt_version: '24.10'
            openwrt_build_version: '24.10.0'
            arch: 'arm_cortex-a7_neon-vfpv4'

          - openwrt_version: '24.10'
            openwrt_build_version: '24.10.1'
            arch: 'arm_cortex-a7_neon-vfpv4'

          - openwrt_version: '24.10'
            openwrt_build_version: '24.10.2'
            arch: 'arm_cortex-a7_neon-vfpv4'

          - openwrt_version: '24.10'
            openwrt_build_version: '24.10.3'
            arch: 'arm_cortex-a7_neon-vfpv4'

          - openwrt_version: '24.10'
            openwrt_build_version: '24.10.4'
            arch: 'arm_cortex-a7_neon-vfpv4'

          - openwrt_version: '24.10'
            openwrt_build_version: '24.10.5'
            arch: 'arm_cortex-a7_neon-vfpv4'

          - openwrt_version: '24.10'
            openwrt_build_version: '24.10.0'
            arch: 'arm_cortex-a9'

          - openwrt_version: '24.10'
            openwrt_build_version: '24.10.1'
            arch: 'arm_cortex-a9'

          - openwrt_version: '24.10'
            openwrt_build_version: '24.10.2'
            arch: 'arm_cortex-a9'

          - openwrt_version: '24.10'
            openwrt_build_version: '24.10.3'
            arch: 'arm_cortex-a9'

          - openwrt_version: '24.10'
            openwrt_build_version: '24.10.4'
            arch: 'arm_cortex-a9'

          - openwrt_version: '24.10'
            openwrt_build_version: '24.10.5'
            arch: 'arm_cortex-a9'

          - openwrt_version: '24.10'
            openwrt_build_version: '24.10.0'
            arch: 'mediatek-filogic'
            target: 'mediatek/filogic'

          - openwrt_version: '24.10'
            openwrt_build_version: '24.10.1'
            arch: 'mediatek-filogic'
            target: 'mediatek/filogic'

          - openwrt_version: '24.10'
            openwrt_build_version: '24.10.2'
            arch: 'mediatek-filogic'
            target: 'mediatek/filogic'

          - openwrt_version: '24.10'
            openwrt_build_version: '24.10.3'
            arch: 'mediatek-filogic'
            target: 'mediatek/filogic'

          - openwrt_version: '24.10'
            openwrt_build_version: '24.10.4'
            arch: 'mediatek-filogic'
            target: 'mediatek/filogic'

          - openwrt_version: '24.10'
            openwrt_build_version: '24.10.5'
            arch: 'mediatek-filogic'
            target: 'mediatek/filogic'

          - openwrt_version: '24.10'
            openwrt_build_version: '24.10.0'
            arch: 'bcm27xx-bcm2711'
            target: 'bcm27xx/bcm2711'

          - openwrt_version: '24.10'
            openwrt_build_version: '24.10.1'
            arch: 'bcm27xx-bcm2711'
            target: 'bcm27xx/bcm2711'

          - openwrt_version: '24.10'
            openwrt_build_version: '24.10.2'
            arch: 'bcm27xx-bcm2711'
            target: 'bcm27xx/bcm2711'

          - openwrt_version: '24.10'
            openwrt_build_version: '24.10.3'
            arch: 'bcm27xx-bcm2711'
            target: 'bcm27xx/bcm2711'

          - openwrt_version: '24.10'
            openwrt_build_version: '24.10.4'
            arch: 'bcm27xx-bcm2711'
            target: 'bcm27xx/bcm2711'

          - openwrt_version: '24.10'
            openwrt_build_version: '24.10.5'
            arch: 'bcm27xx-bcm2711'
            target: 'bcm27xx/bcm2711'

          - openwrt_version: '24.10'
            openwrt_build_version: '24.10.0'
            arch: 'mips_24kc'

          - openwrt_version: '24.10'
            openwrt_build_version: '24.10.1'
            arch: 'mips_24kc'

          - openwrt_version: '24.10'
            openwrt_build_version: '24.10.2'
            arch: 'mips_24kc'

          - openwrt_version: '24.10'
            openwrt_build_version: '24.10.3'
            arch: 'mips_24kc'

          - openwrt_version: '24.10'
            openwrt_build_version: '24.10.4'
            arch: 'mips_24kc'

          - openwrt_version: '24.10'
            openwrt_build_version: '24.10.5'
            arch: 'mips_24kc'

          - openwrt_version: '24.10'
            openwrt_build_version: '24.10.0'
            arch: 'mipsel_24kc'

          - openwrt_version: '24.10'
            openwrt_build_version: '24.10.1'
            arch: 'mipsel_24kc'

          - openwrt_version: '24.10'
            openwrt_build_version: '24.10.2'
            arch: 'mipsel_24kc'

          - openwrt_version: '24.10'
            openwrt_build_version: '24.10.3'
            arch: 'mipsel_24kc'

          - openwrt_version: '24.10'
            openwrt_build_version: '24.10.4'
            arch: 'mipsel_24kc'

          - openwrt_version: '24.10'
            openwrt_build_version: '24.10.5'
            arch: 'mipsel_24kc'
      fail-fast: false

    uses: Zerogiven/gh-openwrt-package-build-workflows/.github/workflows/reusable-build.yml@prometheus-node-exporter-lua-patch
    with:
      package_name: 'quectel-rm520n-thermal'
      sdk_packages: 'quectel-rm520n-thermal'
      artifacts_patterns: |
        kmod-quectel-rm520n-thermal*.ipk
        quectel-rm520n-thermal*.ipk
        prometheus-node-exporter-lua-*quectel-rm520n-thermal*.ipk
      openwrt_version: ${{ matrix.openwrt_version }}
      openwrt_build_version: ${{ matrix.openwrt_build_version }}
      arch: ${{ matrix.arch }}
      target: ${{ matrix.target }}
      verbose: false
      free_disk_space: false

  create-release:
    needs: build-packages
    permissions:
      contents: write
    uses: Zerogiven/gh-openwrt-package-build-workflows/.github/workflows/reusable-release.yml@main
    with:
      artifact_pattern: 'quectel-rm520n-thermal-*'
      release_file_pattern: '*.ipk'
      tag_name: ${{ github.ref_name }}
    secrets:
      RELEASE_TOKEN: ${{ secrets.OWRT_PACKAGE_RELEASE_TOKEN }}

  trigger-feed-update:
    needs: create-release
    runs-on: ubuntu-latest
    steps:
      - name: Trigger package feed update
        env:
          GH_TOKEN: ${{ secrets.FEED_DISPATCH_TOKEN }}
        run: |
          gh api repos/Zerogiven-OpenWRT-Packages/package-feed/dispatches \
            -f event_type=webhook-release \
            -f 'client_payload[repository]=${{ github.repository }}' \
            -f 'client_payload[tag]=${{ github.ref_name }}'
